
body{
    padding: 10px 50px;
    background-color: #33d9b2;
}
#mainbody{
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-content: center;

}

#formbody {
    background-color: #867878e0;
  
}
#header{
    display: flex;
    justify-content: center;
    align-content: center;
    
}


#inputtag{
    display: flex;
    justify-content: center;
    align-content: center;
}

.formdesign{
    font-size: 20px;
}
.formdesign input{
    width: 50%;
    padding: 12px 20px;
    border: 1PX solid blue;
    margin: 15px;
    border-radius: 5px;
    font-size: 20px;

}
.formerror{
    font-weight: bold;
    color: red;
}

.but{
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-size: 25px;
    margin: 22px 10 px;
}